.pageContainer {
    margin-right: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.subjectData {

    margin: 3vw;
    padding: 3vw;

    text-align: left;

    background-color: aquamarine;
}

.sector {
    margin: 1vw;
}

.sector .content {
    margin-left: 1.5vw;
}

.vekTabulky table {
    margin: 2vw;
}

.vekTabulky table tr {
    background-color: #dddddd;
}

.vekTabulky table th {
    padding: 1vw;
    border: 0.1vw solid black;
}

.vekTabulky table tr:first-child {
    background-color: #bbbbbb;
}

.vekTabulky table tr:first-child th:first-child {
    visibility: hidden;
    border: 0vw solid black;
}

.vekTabulky table tr th:first-child {
    background-color: #bbbbbb;   
}

.ocekavaneAktivity table {
    margin: 2vw;
}

.ocekavaneAktivity table tr {
    background-color: #dddddd;
}

.ocekavaneAktivity table th {
    padding: 1vw;
    border: 0.1vw solid black;
}


.ocekavaneAktivity table tr.hotovo{
    background-color: #59ffa1;
}

.historieVysledku table tr th:nth-child(6) {
    background-color: #59ffa1;
}