.pageContainer {
    width: 100vw;
    height: 92.3vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.subjectData {
    width: 60vw;

    margin: 3vw;
    padding: 3vw;

    text-align: left;

    background-color: aquamarine;
}

.subjectData li {
    font-size: 2vw;
}

.vekTabulky table tr {
    background-color: #dddddd;
}

.vekTabulky table th {
    padding: 1vw;
    border: 0.2vw solid black;
}

.vekTabulky table tr:first-child {
    background-color: #bbbbbb;
}

.vekTabulky table tr:first-child th:first-child {
    visibility: hidden;
    border: 0vw solid black;
}

.vekTabulky table tr th:first-child {
    background-color: #bbbbbb;   
}