.pageContainer {
    margin-right: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
padding: 0;
}


.classList {
    margin: 2vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.classList a {
    text-decoration: none;
}

.zadavaniVysledku {
    margin: 2vw;
    visibility: hidden;
}

.zadavaniVysledku th {
    background-color: #eeeeee;
    border: 0.08vw solid black;
}

.zadavaniVysledku tr:first-child th {
    padding: 1vw;

    background-color: #aaaaaa;
}

.zadavaniVysledku tr th:first-child {
    padding: 1vw;

    background-color: #aaaaaa;
}

.zadavaniVysledku tr:first-child th:first-child {
    background-color: white;
    border: 0px solid black;
}

.zadavaniVysledku input {
    background-color: #eeeeee;

    border: 0px solid black;
    border-radius: 0;

   height: 7vh;
    width: 100%
}

.zadavaniVysledku input:focus {
    background-color: #dddddd;
    color: #555555;
}